.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Raleway, sans-serif;
}

.title {
  font-size: 2em;
  font-family: 'Orbitron', sans-serif;
  color: rgba(0,255,116,1);
}

.info-box {
  max-width: 85vw;
  text-align: justify;
}

.label-box {
  height: 3em;
  margin: 2px;
}

.button-box {
  margin: 4px;
  display: flex;
  flex-direction: row;
}

.label {
  color: green;
  margin: 5px;
}

.active {
  margin: 5px;
  color: #00ff74;
}

.italic {
  font-style: italic;
}

.orbit {
  font-family: 'Orbitron', sans-serif;
}

.bungee {
  font-family: 'Bungee Inline', cursive;
}

.strong {
  font-weight: 700;
}

.stronger {
  font-weight: 900;
}

.divider {
  width: 10px;
}

.board {
  max-width: 90vw;
  max-height: 90vw;
  margin: 10px;
}

.cell-row {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.cell-row-small {
  height: 1vw;
}

.cell-row-med {
  height: 2vw;
}

.cell-row-large {
  height: 4vw;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted green;
  margin: 0 -1px;
  background: #282c34;
  font-size: 0px;
  z-index: 100;
}

.cell-small {
  height: 1vw;
  width: 1vw;
}

.cell-med {
  height: 2vw;
  width: 2vw;
}

.cell-large {
  height: 4vw;
  width: 4vw;
}

.cell-overlay {
  background: radial-gradient(circle, rgba(15,75,7,1) 0%, rgba(33,168,62,1) 35%, rgba(0,255,116,1) 100%);
  border-radius: 50%;
  color: #00ff74;
  height: 0vw;
  width: 0vw;
  background-size: 100%;
  opacity: 1;
  z-index: -100;
  margin: auto;
}

.transition200 {
  transition: all 200ms ease-in;
}

.transition400 {
  transition: all 400ms ease-in;
}

.transition600 {
  transition: all 600ms ease-in;
}

.alive-small {
  height: 0.8vw;
  width: 0.8vw;
}

.alive-med {
  height: 1.75vw;
  width: 1.75vw;
}

.alive-large {
  height: 3.6vw;
  width: 3.6vw;
}
