.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2em;
  font-family: 'Orbitron', sans-serif;
  color: #00ff74;
}

.label-box {
  height: 3em;
  margin: 2px;
}

.button-box {
  margin: 4px;
  display: flex;
  flex-direction: row;
}

.label {
  color: green;
  margin: 5px;
}

.active {
  margin: 5px;
  color: #00ff74;
}

.italic {
  font-style: italic;
}

.orbit {
  font-family: 'Orbitron', sans-serif;
}

.bungee {
  font-family: 'Bungee Inline', cursive;
}

.strong {
  font-weight: 900;
}

.divider {
  width: 10px;
}

.board {
  max-width: 90vw;
  max-height: 90vw;
  margin: 10px;
}

.cell-row {
  display: flex;
  flex-direction: row;
  height: 1vw;
  margin: 2px;
}

.cell {
  /* display: flex;
  flex-direction: column; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted green;
  height: 1vw;
  width: 1vw;
  margin: -1px;
  background: #282c34;
  font-size: 0px;
  z-index: 100;
}

.cell-overlay {
  background: radial-gradient(circle, rgba(15,75,7,1) 0%, rgba(33,168,62,1) 35%, rgba(0,255,116,1) 100%);
  border-radius: 20%;
  color: #00ff74;
  height: 0vw;
  width: 0vw;
  background-size: 100%;
  font-size: 1vw;
  opacity: 1;
  z-index: -100;
  margin: auto;
  /* transition: all 200ms ease-in; */
}

.transition200 {
  transition: all 200ms ease-in;
}

.transition400 {
  transition: all 400ms ease-in;
}

.transition600 {
  transition: all 600ms ease-in;
}

.alive {
  height: 1vw;
  width: 1vw;
}

/* font-family: 'Bungee Inline', cursive;
font-family: 'Orbitron', sans-serif; */
