html. body {
  width: 100%;
}

.container {
  width: 100%;
  background: rgb(0,5,212);
  background: -moz-linear-gradient(90deg, rgba(0,5,212,0.6963861158915928) 9%, rgba(36,28,162,0.7633504016058785) 35%, rgba(7,12,75,0.8079932587487357) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,5,212,0.6963861158915928) 9%, rgba(36,28,162,0.7633504016058785) 35%, rgba(7,12,75,0.8079932587487357) 100%);
  background: linear-gradient(90deg, rgba(0,5,212,0.6963861158915928) 9%, rgba(36,28,162,0.7633504016058785) 35%, rgba(7,12,75,0.8079932587487357) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0005d4",endColorstr="#070c4b",GradientType=1);
  font-size: 1.2rem;
}

.App {
  color: #dddddd;
  text-align: center;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Raleway, sans-serif;
}

.title {
  font-size: 2em;
  font-family: 'Orbitron', sans-serif;
  color: #fffffe;
}

.info-box {
  max-width: 85vw;
  text-align: justify;
}

.label-box {
  height: 4rem;
  margin: 4px;
}

.button-box {
  margin: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.label {
  color: #dddddd;
  margin: 5px;
}

.inactive {
  color: #bbbbbb;
  margin: 5px;
}

.active {
  margin: 5px;
  color: #ffffff;
}

.italic {
  font-style: italic;
}

.orbit {
  font-family: 'Orbitron', sans-serif;
}

.bungee {
  font-family: 'Bungee Inline', cursive;
}

.strong {
  font-weight: 700;
}

.stronger {
  font-weight: 900;
}

.divider {
  width: 10px;
}

.board {
  max-width: 95vw;
  max-height: 95vw;
  margin: 10px;
  border-bottom: 0.1vw dotted #bbbbbb;
  /* border-radius: 0.5vw; */
}

.cell-row {
  display: flex;
  flex-direction: row;
  margin: 0;
  border-top: 0.1vw dotted #bbbbbb;
  /* border-bottom: 0.1vw dotted #bbbbbb; */
  border-right: 1px dotted #bbbbbb;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top: 0.1vw dotted #bbbbbb; */
  border-left: 1px dotted #bbbbbb;
  margin: 0;
  /* background: rgba(36,28,162,0.7633504016058785); */
  font-size: 0px;
  z-index: 100;
}

.cell-overlay {
  background: rgb(241,4,4);
  background: -moz-radial-gradient(circle, rgba(241,4,4,1) 0%, rgba(255,85,2,1) 11%, rgba(249,229,8,1) 30%, rgba(39,237,5,0.7431192660550459) 41%, rgba(32,166,9,1) 50%, rgba(44,40,207,0.8348623853211009) 62%, rgba(14,11,133,0.8348623853211009) 71%, rgba(127,23,200,1) 85%, rgba(30,0,51,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(241,4,4,1) 0%, rgba(255,85,2,1) 11%, rgba(249,229,8,1) 30%, rgba(39,237,5,0.7431192660550459) 41%, rgba(32,166,9,1) 50%, rgba(44,40,207,0.8348623853211009) 62%, rgba(14,11,133,0.8348623853211009) 71%, rgba(127,23,200,1) 85%, rgba(30,0,51,1) 100%);
  background: radial-gradient(circle, rgba(241,4,4,1) 0%, rgba(255,85,2,1) 11%, rgba(249,229,8,1) 30%, rgba(39,237,5,0.7431192660550459) 41%, rgba(32,166,9,1) 50%, rgba(44,40,207,0.8348623853211009) 62%, rgba(14,11,133,0.8348623853211009) 71%, rgba(127,23,200,1) 85%, rgba(30,0,51,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f10404",endColorstr="#1e0033",GradientType=1);
  border-radius: 50%;
  color: #00ff74;
  height: 0vw;
  width: 0vw;
  background-size: 100%;
  opacity: 1;
  z-index: -100;
  margin: auto;
}

.transition250 {
  transition: all 200ms ease-in;
}

.transition500 {
  transition: all 400ms ease-in;
}

.transition1000 {
  transition: all 600ms ease-in;
}

.height0 {
  height: 6vw;
}

.height1 {
  height: 4vw;
}

.height2 {
  height: 3vw;
}

.height3 {
  height: 2vw;
}

.height4 {
  height: 1.5vw;
}

.width0 {
  width: 6vw;
}

.width1 {
  width: 4vw;
}

.width2 {
  width: 3vw;
}

.width3 {
  width: 2vw;
}

.width4 {
  width: 1.5vw;
}

.alive {
  height: 90%;
  width: 90%;
}

.gen-b {
  position: relative;
  left: -5vw;
}

.hidden {
  opacity: 0;
  display: inline-block;
  width: 5vw;
}

.visible {
  opacity: 1;
  width: 5vw;
  display: inline-block;
}


@media screen and (max-width: 600px) {
  .container {
    font-size: 1.2rem;
  }

  .embiggen {
    font-size: 2rem;
  }

  .label-box {
    height: 6rem;
  }

  .height0 {
    height: 8vw;
  }

  .width0 {
    width: 8vw;
  }

  .height4 {
    height: 2vw;
  }

  .width4 {
    width: 2vw;
  }

  .board {
    max-height: 115vw;
  }
}
